.text-block
	font-size 0
	padding-bottom 28px
	padding-top 28px
	white-space nowrap

	&__col
		display inline-block
		vertical-align top
		width 48%

	&_type_company &

		&__col

			&:first-of-type
				margin-right 196px
				width 354px

				+mobile()
					width 100%
					margin-right 0

			&:nth-of-type(2)
				width 350px

				+mobile()
					width 100%

	&_type_news
		padding-bottom 109px

	&_type_news &

		&__col:first-of-type
			width 58%




