rupture.mobile-cutoff = 1150px

@import 'helpers/sprite'
@import 'helpers/svg'
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/slick-slider'

@import 'base/fonts'
@import 'base/optimize'
@import 'base/base'

@import '../blocks/**/*'
