.project
	width 300px
	position relative
	min-height 450px
	cursor pointer

	&__slider
		overflow hidden

	+mobile()
		width 398px

	&__link
		margin-top 53px
		display inline-block
		display none

	&__image
		size 300px 197px
		transition-duration .5s

		+mobile()
			display none !important

		&_type_mobile
			display none !important

			+mobile()
				display block !important

		&_state_active
			width 350px
			height 230px

	&__date
		position absolute
		left -80px
		top 3px

		+mobile()
			position static

		&-wrapper
			position relative
			display none

			+mobile()
				display block

	&__descr

		&-title
			margin-top 30px

		&-text
			margin-top 24px
			display none


	.slick-center &
		cursor default

		&__descr

			&-title
				margin-top 30px

			&-text
				display block

		&__name
			font-family $din-700
			font-size 36px

		&__image
			size 350px 230px

		&__link
			display block

	+mobile()
		&__descr

			&-title
				margin-top 30px

			&-text
				display block

		&__name
			font-family $din-700
			font-size 36px

		&__image
			size 350px 230px

		&__link
			display block

