.project
	width 300px
	position relative
	min-height 450px
	cursor pointer

	&__slider
		overflow hidden

	+mobile()
		width 640px

	+below(640px)
		width 400px

	&__link
		margin-top 53px
		display inline-block
		display none

	&__image
		size 300px 197px
		transition-duration .5s

		+mobile()
			display none !important

		&_type_mobile
			display none !important

			+mobile()
				display block !important
				width 100%
				height initial

		&_state_active
			width 350px
			height 230px

	&__date
		position absolute
		left -80px
		top 3px

		+mobile()
			position static

		&-wrapper
			position relative
			display none

			+mobile()
				display block

	&__descr

		&-title
			margin-top 30px

		&-text
			margin-top 24px
			line-height 21px !important
			display none


	.slick-current &
		cursor default
		width 350px

		+below(1200px)
			width 300px

		+mobile()
			width 640px

		+below(640px)
			width 400px

		&__descr

			&-title
				margin-top 30px

			&-text
				display block

		&__name
			font-family $din-700
			font-size 36px

		&__image
			size 350px 230px

			+below(1200px)
				size 300px 197px


		&__link
			display block

	+mobile()
		&__descr

			&-title
				margin-top 30px

			&-text
				display block

		&__name
			font-family $din-700
			font-size 36px

		&__image
			size 350px 230px

		&__link
			display block

