body
	color #000
	font-size 13px
	cursor default
	min-width 1150px
	width 100%

	+mobile()
		padding-top 0
		padding-bottom 0
		min-width 500px

	&.blocked
		overflow hidden
		height 100%

.wrapper
	width 1150px
	margin 0 auto

	&_size_small
		width 900px


	+mobile()
		width 640px

	+below(640px)
		width 400px
