body
	color #000
	font-size 13px
	cursor default
	min-width 1150px

	+mobile()
		padding-top 0
		padding-bottom 0
		min-width 400px

.wrapper
	width 1150px
	margin 0 auto

	&_size_small
		width 890px

	+mobile()
		width 400px
