$helvetica-400 = HelveticaNeueCyrRoman, Arial, sans-serif
$helvetica-500 = HelveticaNeueCyrMedium, Arial, sans-serif
$helvetica-700 = HelveticaNeueCyrBold, Arial, sans-serif

$din-500 = DINProMedium, Arial, sans-serif
$din-700 = DINProBold, Arial, sans-serif

@font-face {
    font-family: 'DINProBold';
    src: url('../fonts/DINProBold.eot');
    src: url('../fonts/DINProBold.eot') format('embedded-opentype'),
    url('../fonts/DINProBold.woff2') format('woff2'),
    url('../fonts/DINProBold.woff') format('woff'),
    url('../fonts/DINProBold.ttf') format('truetype'),
    url('../fonts/DINProBold.svg#DINProBold') format('svg');
}

@font-face {
    font-family: 'DINProMedium';
    src: url('../fonts/DINProMedium.eot');
    src: url('../fonts/DINProMedium.eot') format('embedded-opentype'),
    url('../fonts/DINProMedium.woff2') format('woff2'),
    url('../fonts/DINProMedium.woff') format('woff'),
    url('../fonts/DINProMedium.ttf') format('truetype'),
    url('../fonts/DINProMedium.svg#DINProMedium') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueCyrBold';
    src: url('../fonts/HelveticaNeueCyrBold.eot');
    src: url('../fonts/HelveticaNeueCyrBold.eot') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyrBold.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyrBold.woff') format('woff'),
    url('../fonts/HelveticaNeueCyrBold.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyrBold.svg#HelveticaNeueCyrBold') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueCyrMedium';
    src: url('../fonts/HelveticaNeueCyrMedium.eot');
    src: url('../fonts/HelveticaNeueCyrMedium.eot') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyrMedium.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyrMedium.woff') format('woff'),
    url('../fonts/HelveticaNeueCyrMedium.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyrMedium.svg#HelveticaNeueCyrMedium') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueCyrRoman';
    src: url('../fonts/HelveticaNeueCyrRoman.eot');
    src: url('../fonts/HelveticaNeueCyrRoman.eot') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyrRoman.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyrRoman.woff') format('woff'),
    url('../fonts/HelveticaNeueCyrRoman.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyrRoman.svg#HelveticaNeueCyrRoman') format('svg');
}
