include ../header/header
include ../slider/slider
include ../menu/menu
include ../project/project
include ../projects/projects
include ../text/text
include ../title/title
include ../text-block/text-block


mixin index()

	- headerMenuData = ['о компании', 'гидроизоляция', 'гидрофобизация', 'герметизация', 'новости', 'Контакты']

	+slider([{
				title: 'Вы&nbsp;заинтересованы в&nbsp;выборе <br />	 надежного и&nbsp;ответственного <br/>	 подрядчика?',
				facts: 'Несколько фактов почему ваш поиск должен <br/> закончиться после знакомства с&nbsp;нашей организацией.'
			},
			{
				title: 'Вы&nbsp;заинтересованы в&nbsp;выборе <br />	 надежного и&nbsp;ответственного <br/>	 подрядчика?',
				facts: 'Несколько фактов почему ваш поиск должен <br/> закончиться после знакомства с&nbsp;нашей организацией.'
			},
			{
				title: 'Вы&nbsp;заинтересованы в&nbsp;выборе <br />	 надежного и&nbsp;ответственного <br/>	 подрядчика?',
				facts: 'Несколько фактов почему ваш поиск должен <br/> закончиться после знакомства с&nbsp;нашей организацией.'
			}])
		.slider__mobile-menu.js-mobile-menu
			.slider__header-close-menu.js-close-menu
			.slider__header-wrapper.wrapper
				+logo().slider__logo
				+menu(headerMenuData).menu_type_header.slider__header
				+menuBtn().slider__header-menu-btn

	+projects([
		{
			date: 2014,
			imgName: 'project-img-1',
			name: 'Сбербанк',
			descrTitle: 'Пролонгация договора на&nbsp;выполнение высотных работ',
			description: 'Повседневная практика показывает, что укрепление и&nbsp;развитие структуры позволяет оценить значение систем массового участия.'
		},
		{
			date: 2014,
			imgName: 'project-img-2',
			name: 'BUNGE',
			descrTitle: 'Пролонгация договора на&nbsp;выполнение высотных работ',
			description: 'Повседневная практика показывает, что укрепление и&nbsp;развитие структуры позволяет оценить значение систем массового участия.'
		},
		{
			date: 2014,
			imgName: 'project-img-2',
			name: 'PEPSICO',
			descrTitle: 'Монтажные работы',
			description: 'Повседневная практика показывает, что укрепление и&nbsp;развитие структуры позволяет оценить значение систем массового участия.'
		},
		{
			date: 2014,
			imgName: 'project-img-1',
			name: 'Сбербанк',
			descrTitle: 'Пролонгация договора на&nbsp;выполнение высотных работ',
			description: 'Повседневная практика показывает, что укрепление и&nbsp;развитие структуры позволяет оценить значение систем массового участия.'
		},
		{
			date: 2015,
			imgName: 'project-img-2',
			name: 'Сбербанк',
			descrTitle: 'Пролонгация договора на&nbsp;выполнение высотных работ',
			description: 'Повседневная практика показывает, что укрепление и&nbsp;развитие структуры позволяет оценить значение систем массового участия.'
		},
		{
			date: 2015,
			imgName: 'project-img-1',
			name: 'Сбербанк',
			descrTitle: 'Пролонгация договора на&nbsp;выполнение высотных работ',
			description: 'Повседневная практика показывает, что укрепление и&nbsp;развитие структуры позволяет оценить значение систем массового участия.'
		}
	])

	+text-block({
		title: 'Компания',
		type: 'company'
	})
		+text-block-col({
			items: [
				{
					text: 'Компания ИЗОЛЯЦИОННЫЕ ТЕХНОЛОГИИ оказывает услуги комплексному решению вопросов в&nbsp;сфере изоляции на&nbsp;территории Воронежа, ЦФО, ЮФО.',
					image: 'company-1.jpg',
					imageClass: '1',
					image2: 'company-2.jpg',
					imageClass2: '2'
				},
				{
					title: 'ЛУЧШЕЕ СООТНОШЕНИЕ <br /> ЦЕНА / КАЧЕСТВО',
					text: 'Постоянно анализируя данную сферу услуг мы&nbsp;готовы предложить Вам гарантию лучшего соотношения цена/качество' +
						'. Мы&nbsp;понимаем всю сложность вашего бизнеса и&nbsp;готовы предоставить несколько вариантов',
					image: 'company-3.jpg',
					imageClass: '3',
				},
				{
					title: 'РЕВОЛЮЦИОННЫЕ <br /> МАТЕРИАЛЫ ',
					text: 'Выстроенные отношения с&nbsp;дилерами строительных материалов позволяют нам всегда быть в&nbsp;курсе всех передовых тенденций. В&nbsp;своей работе' +
					' мы&nbsp;используем только лучшие материалы, имеющие все сертификаты соответствия.',
				},
				{
					title: 'КОНТРОЛЬ КАЧЕСТВА <br/> И БЕЗОПАСНОСТИ',
					text: 'Вы&nbsp;можете быть уверены в&nbsp;качестве выполненных работ. За&nbsp;каждым объектом закрепляется руководитель работ&nbsp;&mdash; технолог. ' +
					'Соблюдение проектной документации, стадийности, промежуточный контроль, СНиПы. Мы &nbsp;даем обязательства не&nbsp;на&nbsp;словах, а&nbsp;закрепляем' +
					' их&nbsp;документально. <br/> <br/> Действующие лицензии и&nbsp;сертификаты на&nbsp;выполнение работ. Мы&nbsp;минимизируем Ваши риски:' +
					' всю ответственность за&nbsp;Технику Безопасности мы&nbsp;берем на&nbsp;себя (журнал&nbsp;ТБ, допуск-наряды).',
				}
			]
		})

		+text-block-col({
			items: [
				{
					image: 'company-5.jpg',
					imageClass: '5',
					image2: 'company-4.jpg',
					imageClass2: '4'
				},
				{
					title: 'РЕЗУЛЬТАТ <br/> ГАРАНТИРОВАН',
					text: 'Переложите ответственность за&nbsp;качество на&nbsp;наших специалистов: все объекты, на&nbsp;которых' +
					' мы&nbsp;работали прошли соответствие требованиям по&nbsp;технологиям и&nbsp;качеству надзирающих органов' +
					' (Технадзор, ГАСК, Проектные организации). Мы&nbsp;готовы устранить все недостатки за&nbsp;свой счет.',
					image: 'company-5.jpg',
					imageClass: '8',
					image2: 'company-6.jpg',
					imageClass2: '6',
					image3: 'company-7.jpg',
					imageClass3: '7'
				},
				{
					title: 'БЕСПЛАТНАЯ <br/> КВАЛИФИЦИРОВАННАЯ <br/> КОНСУЛЬТАЦИЯ',
					text: 'На&nbsp;стадии планирования работ пригласите нашего специалиста на&nbsp;объект, и&nbsp;Вы получите бесплатную,' +
					' квалифицированную консультацию. Даже если&nbsp;Вы выбрали другую организацию и&nbsp;появились некие сомнения' +
					' в&nbsp;качестве и&nbsp;правильности работ, то&nbsp;мы&nbsp;абсолютно безвозмездно поделимся своим' +
					' опытом и&nbsp;знанием, расскажем все технологические особенности.',
				},

			]
		})


	+text-block({
		title: 'Новости',
		titleLink: true,
		type: 'news'
	})
		+text-block-col({
			items: [
				{
					date: '15 сентября',
					title: 'Заголовок первой <br/> новости',
					text: 'Задача организации, в особенности же сложившаяся структура организации способствует подготовки' +
					' и реализации направлений прогрессивного развития.'

				}
			]
		})
		+text-block-col({
			items: [
				{
					date: '7 сентября',
					title: 'Заголовок первой <br/> новости',
					text: 'Задача организации, в особенности же сложившаяся структура организации способствует подготовки' +
					' и реализации направлений прогрессивного развития.'

				}
			]
		})
