include ../header/header
include ../slider/slider
include ../menu/menu


mixin index()

	- headerMenuData = ['о компании', 'гидроизоляция', 'гидрофобизация', 'герметизация', 'новости', 'Контакты']

	.section
		+slider([{
					title: 'Вы&nbsp;заинтересованы в&nbsp;выборе <br />	 надежного и&nbsp;ответственного <br/>	 подрядчика?&rsquo;',
					facts: 'Несколько фактов почему ваш поиск должен <br/> закончиться после знакомства с&nbsp;нашей организацией.'
				}])
			.slider__mobile-menu
				.slider__header-black
				.slider__header-wrapper
					+logo().slider__logo
					+menu(headerMenuData).menu_type_header.slider__header
					+menuBtn().slider__header-menu-btn

		.title Заголовок
		.title.title_type_uppercase Заголовок
		.title.title_type_subtitle Заголовок
		.text Текст
		.text_size_small Текст


