.title
	display block
	color black
	font-family $din-700
	font-size 36px
	margin-top 34px

	&_type_uppercase
		text-transform uppercase

	&_type_subtitle
		font-family $din-500
		font-size 24px
		margin-top 37px

	&_size_small
		font-size 24px
		margin-top 25px

