.text-block-item
	white-space normal

	&__date
		margin-top 24px

	&__text
		margin-top 23px !important
		padding-left 3px

	&__img
		position relative
		margin-top 24px
		display inline-block
		vertical-align top

		&_1
		&_2
			size 280px 186px
			top 0

		&_1
			left -80px
			position: relative


		&_2
			position absolute
			left 229px
			top 0

		&_3
			left 232px
			size 280px 247px

		&_4
			size 350px 262px
			margin-top -33px

		&_5
			size 63px 169px
			position absolute
			right -83px

		&_6
			size 423px 323px

		&_7
			size 280px 186px


		+mobile()
			width 100%
			position static
			height initial

			&_5
				size 63px 169px

			&_3
				position relative
				left 121px
				size 280px 247px
		
			&_4
				margin-top 24px



	&__container
		position relative

	.text-block_type_news &

		&__title
			margin-top 24px
