.text-block-item
	white-space normal

	&__date
		margin-top 24px !important

		+mobile()
			margin-top 40px !important

	&__text
		margin-top 23px !important
		padding-left 3px

		+mobile ()
			margin-top 34px !important
	&__img
		position relative
		margin-top 24px
		display inline-block
		vertical-align top

		+mobile()
			margin-top 50px

		&_1
		&_2
			size 280px 186px
			top 0

		&_1
			left -80px
			position: relative


		&_2
			position absolute
			left 229px
			top 0

		&_3
			left 232px
			size 280px 247px

		&_4
			size 350px 262px
			margin-top -33px

		&_5
			size 63px 169px
			position absolute
			right -83px
			top -57px

		&_6
			size 423px 323px

		&_7
			size 280px 186px

		&_8
			display none


		+mobile()
			width 100%
			position static
			height initial

			&_5
				display none

			&_3
				position relative
				left 121px
				size 280px 247px
				margin-top 70px

			&_4
				margin-top 24px

				+mobile()
					margin-top 50px

			&_8
				display block
				size 63px 169px


	&__container
		position relative

	.text-block_type_news &

		&__title
			margin-top 24px

	.text-block_type_company &

		&__title

			+mobile()
				margin-top 50px
