.menu
	font-size 0

	&__item
		display inline-block
		margin-right 65px
		text-transform uppercase
		color #fff
		font-family $Helvetica
		font-size 13px
		font-weight 700
		text-decoration none

	&_type_header &__item
		position relative

		+mobile()
			padding-bottom 25px
			font-size: 24px

		&:before
			content ''
			size 20px 3px
			background #fff
			display block
			top 15px
			left 0
			position absolute

			+mobile()
				display none
			
	+mobile()

		&__item
			display block

		&__mobile-btn
			width 55px
			height 8px
			background #ffffff
			position relative
			right 0

			&:before
			&:after
				content ''
				display: block
				width 55px
				height 8px
				background #ffffff
				position absolute

			&:before
				top -18px

			&:after
				bottom -18px