.menu
	font-size 0

	&__item
		display inline-block
		margin-right 65px
		text-transform uppercase
		color #fff
		color white
		font-family $Helvetica
		font-size 13px
		font-weight 700
		text-decoration none

	&_type_header &__item
		position relative

		&:before
			content ''
			size 20px 3px
			background #fff
			display block
			top 15px
			left 0
			position absolute

