.menu
	font-size 0

	&__item
		display inline-block
		margin-right 61px
		text-transform uppercase
		color #fff
		font-family $helvetica-700
		font-size 13px
		text-decoration none

	&_type_header &__item
		position relative

		+mobile()
			padding-bottom 25px
			font-size: 24px

		&:before
			content ''
			size 20px 3px
			background #fff
			display block
			top 15px
			left 0
			position absolute

			+mobile()
				display none
			
	+mobile()

		&__item
			display block

		&__mobile-btn
			width 55px
			height 8px
			background #ffffff
			position relative
			top 18px
			cursor pointer

			&:before
			&:after
				content ''
				display block
				width 55px
				height 8px
				background #ffffff
				position absolute

			&:before
				top -18px

			&:after
				bottom -18px
				
			&-wrapper
				display block
				width 55px
				height 44px
				position absolute
				right 0

	&_type_footer
		width 486px
		display inline-block
		margin-left 80px

		+mobile()
			display none

	&_type_footer &__item
		width 50%
		margin-right 0
		margin-bottom 14px
		line-height 16px



