mixin menu()
	nav.menu&attributes(attributes)

		each val in ['о компании', 'гидроизоляция', 'гидрофобизация', 'герметизация', 'новости', 'Контакты']
			a.menu__item(href=jv0)=val

mixin menuBtn()
	.menu__mobile-btn&attributes(attributes)