.slider
	position relative
	overflow hidden
	height 700px

	&__logo
		display inline-block
		position absolute
		top 49px
		left -20px
		z-index 10

		+mobile()
			left 0

	&__header-wrapper
		padding-top 75px
		height 105px
		position absolute
		z-index 10

		+mobile()
			padding-top 0


	+mobile()

		&__mobile-menu_show

			.slider

				&__header
					visibility visible

				&__header-wrapper
					z-index 1000
					background #000000
					position fixed
					top 0
					left 0
					bottom 0
					height 100%
					width 83%
					min-width 350px
					z-index 100
					padding-left 12%
					padding-top 50px

				&__header-close-menu
					position fixed
					z-index 100
					top 0
					bottom 0
					width 100%

				&__logo
					position static
					display block


	&__header
		display inline-block
		padding-left 130px

		+mobile()
			padding-left 6px
			padding-top 49px
			visibility hidden

	&__pagination
		position absolute
		right -35px
		top 0
		z-index 1
		font-size 0

		&-btn
			sprite($pagination-btn)
			display inline-block
			margin-right 55px
			cursor pointer


			&_next
				sprite($pagination-btn-next)

		&-wrapper
			width 1150px
			margin auto
			position absolute
			top 223px
			right 0
			left 0

			+mobile()
				position relative
				top 0
				width 640px

				+below(680px)
					width 400px



		+mobile()
			bottom 51px
			right initial
			top initial

	&__wrapper
		position relative

	+mobile()
		&__header-menu-btn
			position absolute
			right 13px
			top 66px
