.projects
	padding-top 9px
	height 656px

	+mobile()
		text-align center
		height auto

	&__title
		margin-bottom 34px
		text-align left

	&__item-wrapper
		width 460px
		text-align center
		display inline-block

		+mobile()
			width 100%

	&__item
		display inline-block
		text-align left
		vertical-align top

	&__container
		position relative

	&__pagination
		position absolute
		top 0
		height 0
		left 22px
		width 512px

		+below(1440px)
			left 48px
			width 452px

		+below(1200px)
			left 54px
			width 392px

		+mobile()
			font-size 0
			width 130px
			height 55px
			right 0
			left initial

		&-wrapper
			position absolute
			top 0
			right 0
			left 0
			margin 0 auto
			width 1100px

			+mobile()
				width 400px
				top initial
				bottom 55px

		&-btn
			position absolute
			top 0
			cursor pointer
			sprite($projects-pagination-btn)

			&_prev
				left 0

			&_next
				right 0
				transform rotate(180deg)

			+mobile()
				width 29px
				height 55px



