inclide ../project/project

mixin projects(data)
    .projects
        .wrapper.wrapper_size_small
            +title('Проекты').projects__title.title_type_uppercase.js-project-title
        .projects__container
            .project__slider
                .js-projects-slider

                    each val in data
                        .projects__item-wrapper
                            +project(val).projects__item.js-project-slider-item

                .wrapper.projects__pagination-wrapper

                    .projects__pagination
                            .projects__pagination-btn.projects__pagination-btn_prev.js-project-btn-prev
                            .projects__pagination-btn.projects__pagination-btn_next.js-project-btn-next
